<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>achievements</key>
	<dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0001</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/je4IZ</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0001/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0001/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0002</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/IHmvy</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0002/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0002/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0003</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/CmSFU</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0003/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0003/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0004</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/Pc0Bh</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0004/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0004/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0006</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/cjtGl</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0006/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0006/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0007</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/FDknB</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0007/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0007/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0008</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/gCJhH</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0008/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0008/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0009</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/IPejY</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0009/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0009/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0010</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/uEkQG</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0010/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0010/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0011</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/wkevX</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0011/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0011/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0012</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/R0faV</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0012/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0012/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0013</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/1MQgD</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0013/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0013/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0014</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/2fOQd</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0014/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0014/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0015</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/DeuC9</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0015/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0015/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0016</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/92rOO</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0016/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0016/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0017</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/R8y64</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0017/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0017/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0018</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/p26qF</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0018/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0018/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0019</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/NbeQL</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0019/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0019/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0020</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/hk5Ot</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0020/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0020/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0021</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/Z21UC</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0021/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0021/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0022</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/bnfii</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0022/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0022/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0023</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/9cvGA</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0023/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0023/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0024</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/WpWI9</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0024/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0024/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0025</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/tZ5sW</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0025/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0025/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0026</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/DR3Vz</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0026/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0026/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0027</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/isHR7</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0027/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0027/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0028</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/0M7Tu</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0028/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0028/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0029</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/uVxKd</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0029/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0029/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0030</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/6l7MR</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0030/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0030/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0031</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/GRnr4</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0031/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0031/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0032</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/o4iHC</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0032/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0032/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0033</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/KcdJx</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0033/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0033/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0034</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/BE6aX</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0034/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0034/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0035</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/BDnv4</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0035/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0035/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0036</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/xQkGC</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0036/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0036/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0037</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/weloS</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0037/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0037/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0038</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/in1Sa</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0038/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0038/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0039</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/22qqo</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0039/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0039/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0040</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/3lPeD</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0040/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0040/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0041</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/Myl6x</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0041/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0041/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0042</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/cKOow</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0042/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0042/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0043</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/6SwYy</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0043/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0043/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0044</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/4ljkW</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0044/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0044/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0045</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/6VKru</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0045/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0045/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0046</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/mi57c</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0046/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0046/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0047</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/Esmz4</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0047/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0047/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0048</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/x775s</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0048/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0048/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0049</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/943gQ</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0049/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0049/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.finishedlevel.0050</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/tmy0f</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0050/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.finishedlevel.0050/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.twominutes</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/ZXAJ9</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.twominutes/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.twominutes/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.tenminutes</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/nLII5</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.tenminutes/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.tenminutes/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.hour</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/W8xKZ</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.hour/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.hour/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.fourhours</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/55Qhj</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.fourhours/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.fourhours/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.eighthours</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/RC29G</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.eighthours/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.eighthours/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.day</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/wwiA0</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.day/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.day/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.fortyhours</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/M9yUt</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.fortyhours/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.fortyhours/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.solidweek</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/QBuIn</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.solidweek/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.solidweek/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.month</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/0Exd2</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.month/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.month/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.timeplayed.year</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/RfQ1Q</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.year/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.timeplayed.year/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.000</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/O4Ymv</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.000/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.000/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.001</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/CS3m2</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.001/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.001/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.002</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/GgpGX</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.002/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.002/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.003</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/Xz4Gn</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.003/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.003/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.004</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/xvKb3</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.004/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.004/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.005</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/ZIzEw</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.005/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.005/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.006</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/DZ5VC</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.006/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.006/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.007</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/V1b04</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.007/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.007/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.008</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/8nUV6</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.008/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.008/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.009</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/9jGrd</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.009/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.009/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.010</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/mD6E6</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.010/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.010/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.011</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/2xwPP</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.011/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.011/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.012</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/7aUuT</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.012/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.012/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.013</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/0tzSU</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.013/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.013/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.014</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/d1f8j</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.014/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.014/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.015</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/Xl043</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.015/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.015/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.016</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/l0T5a</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.016/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.016/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.017</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/8lXFe</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.017/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.017/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.018</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/2Ofeg</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.018/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.018/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.019</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/2MSdk</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.019/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.019/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.020</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/kcD5U</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.020/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.020/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.021</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/4tIYd</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.021/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.021/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.022</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/Vgjte</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.022/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.022/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.023</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/yfoks</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.023/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.023/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.overall.vocabulary.024</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/RBgzw</string>
			<key>urlfbpro</key>
			<string>https://apps.facebook.com/wordflick/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.024/complete</string>
			<key>urlfbfree</key>
			<string>https://apps.facebook.com/wordflick-free/achievements/com.everydayapps.game.wordflick.achievement.overall.vocabulary.024/complete</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0001</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/ZB2bH</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0002</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/V2VZD</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0003</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/1Kd34</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0004</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/MBely</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0005</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/JXuke</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0006</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/YjdQF</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0007</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/jEKYJ</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0008</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/5ACuq</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0009</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/pSVhF</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0010</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/5A8yo</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0011</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/09FrX</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0012</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/SDYGC</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0013</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/OEeja</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0014</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/LIxbH</string>
		</dict>
		<key>grp.com.everydayapps.game.wordflick.achievement.wordlength.0015</key>
		<dict>
			<key>urlshort</key>
			<string>http://goo.gl/8JrD8</string>
		</dict>
	</dict>
</dict>
</plist>
