<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>51103</key>
	<string></string>
	<key>59411</key>
	<integer>0</integer>
	<key>83950</key>
	<integer>0</integer>
	<key>74920</key>
	<integer>0</integer>
	<key>97468</key>
	<integer>0</integer>
	<key>47382</key>
	<integer>0</integer>
	<key>21212</key>
	<data></data>
	<key>32123</key>
	<data></data>
</dict>
</plist>
