<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sfx</key>
	<true/>
	<key>firstTimeEver</key>
	<true/>
	<key>askToResume</key>
	<true/>
	<key>highestLevel</key>
	<integer>1</integer>
	<key>version</key>
	<string></string>
</dict>
</plist>
